

<div id="mainImageDiv">


    <div id="imgholder">
        <img id="paragonImage" src="~/Content/Images/ParagonIcon.png" />
    </div>

    <div>
        <div id="telephoneLeads"> Telephone Leads </div>

    </div>
</div>

<div class="underlineMain"></div>

<br /><br />





@*<button id="buttonLink" class="btn btn-primary btn-lg"> @Html.ActionLink("Prospects", "Prospects", "Home")</button>&nbsp&nbsp
<button id="buttonLink" class="btn btn-primary btn-lg">@Html.ActionLink("Renewals", "Renewals", "Home")</button>&nbsp&nbsp
<button id="buttonLink" class="btn btn-primary btn-lg ">@Html.ActionLink("Lapses", "Lapses", "Home")</button>&nbsp&nbsp*@