<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Jack\Desktop\Test  Connection.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>192.168.1.245</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Test__Connection.Models.ApplicationDbContext, Test  Connection" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Phone_SystemEntities30" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Test__Connection.Models.Phone_SystemEntities30, Test  Connection" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ThamesbankEntities10" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Test__Connection.Models.ThamesbankEntities10, Test  Connection" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Phone_SystemEntities10" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=INFOCENTER\SQLTHAMESBANK;Initial Catalog=&quot;Phone System&quot;;User ID=&quot;Data User&quot;;Password=data;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Phone_SystemEntities10_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.PS.csdl|res://*/Models.PS.ssdl|res://*/Models.PS.msl;provider=System.Data.SqlClient;provider connection string='data source=INFOCENTER\SQLTHAMESBANK;initial catalog=&quot;Phone System&quot;;user id=&quot;Data User&quot;;password=data;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Phone_SystemEntities20" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=INFOCENTER\SQLTHAMESBANK;Initial Catalog=&quot;Phone System&quot;;User ID=&quot;Data User&quot;;Password=data;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Phone_SystemEntities20_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.PS.csdl|res://*/Models.PS.ssdl|res://*/Models.PS.msl;provider=System.Data.SqlClient;provider connection string='data source=INFOCENTER\SQLTHAMESBANK;initial catalog=&quot;Phone System&quot;;user id=&quot;Data User&quot;;password=data;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Phone_SystemEntities2" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=INFOCENTER\SQLTHAMESBANK;User ID=&quot;Data User&quot;;Password=data;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Phone_SystemEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.PhonesystemsTwo.csdl|res://*/Models.PhonesystemsTwo.ssdl|res://*/Models.PhonesystemsTwo.msl;provider=System.Data.SqlClient;provider connection string='data source=INFOCENTER\SQLTHAMESBANK;user id=&quot;Data User&quot;;password=data;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Phone_SystemEntities5" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=INFOCENTER\SQLTHAMESBANK;Initial Catalog=&quot;Phone System&quot;;User ID=&quot;Data User&quot;;Password=data;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Phone_SystemEntities5_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.PSystems.csdl|res://*/Models.PSystems.ssdl|res://*/Models.PSystems.msl;provider=System.Data.SqlClient;provider connection string='data source=INFOCENTER\SQLTHAMESBANK;initial catalog=&quot;Phone System&quot;;user id=&quot;Data User&quot;;password=data;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="phone_systemEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=INFOCENTER\SQLTHAMESBANK;Initial Catalog=&quot;phone system&quot;;User ID=&quot;data user&quot;;Password=data;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\phone_systemEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=&quot;res://*/Models.Phone System.csdl|res://*/Models.Phone System.ssdl|res://*/Models.Phone System.msl&quot;;provider=System.Data.SqlClient;provider connection string='data source=INFOCENTER\SQLTHAMESBANK;initial catalog=&quot;phone system&quot;;user id=&quot;data user&quot;;password=data;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ThamesbankEntities1" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=INFOCENTER\SQLTHAMESBANK;Initial Catalog=Thamesbank;User ID=&quot;Data User&quot;;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ThamesbankEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=INFOCENTER\SQLTHAMESBANK;initial catalog=Thamesbank;user id=&quot;Data User&quot;;multipleactiveresultsets=True;application name=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ThamesbankEntities3" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=INFOCENTER\SQLTHAMESBANK;Initial Catalog=Thamesbank;User ID=&quot;Data User&quot;;Password=data;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ThamesbankEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=INFOCENTER\SQLTHAMESBANK;initial catalog=Thamesbank;user id=&quot;Data User&quot;;password=data;multipleactiveresultsets=True;application name=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ThamesbankEntities" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=INFOCENTER\SQLTHAMESBANK;Initial Catalog=Thamesbank;User ID=&quot;Data User&quot;;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ThamesbankEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.SqlThamesbank.csdl|res://*/Models.SqlThamesbank.ssdl|res://*/Models.SqlThamesbank.msl;provider=System.Data.SqlClient;provider connection string='data source=INFOCENTER\SQLTHAMESBANK;initial catalog=Thamesbank;user id=&quot;Data User&quot;;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)phone_systemEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Phone_SystemEntities10-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Phone_SystemEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Phone_SystemEntities20-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Phone_SystemEntities30-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Phone_SystemEntities5-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ThamesbankEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ThamesbankEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ThamesbankEntities10-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ThamesbankEntities3-Web.config Connection String" />
  </ItemGroup>
</Project>